form{
    border: 2px solid grey;
    border-radius: 6px;
    width: 800px;
    padding: 8px;
    margin-bottom: 12px;
    margin-left: 20px;
}

form div{
    margin-top: 8px;
}

#div_botao{
    display: flex;
    justify-content: right;
}

td{
    text-align: center;
}