* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(145, 144, 144);
    margin-bottom: 15px;
    justify-content: right;
    padding: 3px 0;
}

nav a {
    width: 160px;
    height: 50px;
    color: white;
    text-decoration: none; /* remove o underline (sublinhado) padrão do link */
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center; /* centraliza horizontalmente o texto */
}

/* a:hover indica que este estilo será aplicado quando o mouse for
   colocado em cima o link */
nav a:hover {
    background-color: white;
    color: rgb(255, 180, 83);
    border-radius: 4px;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    list-style-type: none; /* remove o marcador (bolinha) do item */
    border: 2px solid rgb(255, 180, 83);
    border-radius: 6px;
    margin: 0 20px;
}

h1 {
    font-size: 72px;
    text-shadow: 3px 3px 3px gray;
    color: brown;
}

.ofertas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    background-color: lightgray;
    width: 240px;
    height: 350px;
    border: 2px solid maroon;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: brown;
    margin-left: 20px;  
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid crimson;
    padding: 4px;
    background-color: aliceblue;
}

table {
    border: 2px solid black;
    border-radius: 10px;
    border-collapse: collapse;
    margin-left: 20px;  
    margin-top: 20px;
    margin-bottom: 12px;
    padding: 8px;
  }

th{
    padding: 8px;
    background-color: darkgrey;
}

td {
    padding: 8px;
    border: 2px solid black;
    background-color: rgb(233, 171, 171);
    text-decoration: none;
}

.preco {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: rgb(22, 22, 22);
}

.card img {
    width: 145px;
}

#lancamentos, #ofertas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

footer {
    background-color: rgb(145, 144, 144);
}

#redes img {
    width: 20px;
    margin-right: 10px;
}

#redes ul {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#redes li {
    margin: 20px;
    list-style-type: none;
    height: 32px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(255, 180, 83);
    border-radius: 8px;
    padding: 4px;
}

#redes li a {
    display: inline-block;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 180, 83);
    height: 20px;
    width: 100px;
}

#redes address {
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#produto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;      
}
/*
#fotos-produto img {
    height: 520px;
    width: 100%;
    border-radius: 6px;    
}

#fotos-miniatura {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 15px;
    gap: 12px;
}

#fotos-miniatura img {
    width: 104px;
    height: 104px;
    border-radius: 6px;
    cursor: pointer;
}

#dados-produto {
    width: 60%;
    margin: 40px;
}
*/
#dados-produto h3 {
    font-size: 42px;
    margin-bottom: 20px;   
}

#dados-produto p {
    font-size: 24px;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#tamanho {
    font-size: 18px;
    width: 200px;
    height: 30px;
    margin-bottom: 15px;
    padding: 5px;
}

.quantidade input {
    width: 50px;
    height: 30px;
    margin-bottom: 15px;
    padding: 6px;
}

.quantidade button {
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 20px;
}

.imagem-selecionada {
    border: 2px solid cornflowerblue;
    border-radius: 6px;
}

main{
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    margin: 0 20px;
}