* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #919090;
    margin-bottom: 15px;
    justify-content: right;
    padding: 3px 0;
}

nav a {
    width: 160px;
    height: 50px;
    color: white;
    text-decoration: none;
    /* remove o underline (sublinhado) padrão do link */
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* centraliza horizontalmente o texto */
}

/* a:hover indica que este estilo será aplicado quando o mouse for
   colocado em cima o link */
nav a:hover {
    background-color: white;
    color: rgb(255, 180, 83);
    border-radius: 4px;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    list-style-type: none;
    /* remove o marcador (bolinha) do item */
    border: 2px solid #ffb453;
    border-radius: 6px;
    margin: 0 20px;
}

h1 {
    font-size: 72px;
    color: #ffb453;
}

.ofertas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    background-color: lightgray;
    width: 240px;
    height: 350px;
    border: 2px solid maroon;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.card a{
    text-decoration: none;
    color: #333;
    font-weight: bolder;
    font-size: 20px;
}

.card a:hover{
    text-decoration: underline;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: brown;
    margin: 10px 20px;
    border-top: 1px solid crimson;
    padding: 4px;
    background-color: aliceblue;
}

table {
    border: 2px solid #333;
    border-radius: 10px;
    border-collapse: collapse;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 12px;
    padding: 8px;
}

th {
    padding: 8px;
    background-color: darkgrey;
}

td {
    padding: 8px;
    border: 2px solid #333;
    background-color: rgb(233, 171, 171);
    text-decoration: none;
}

.preco {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 180, 83);
}

.card img {
    width: 145px;
}

.card h3{
    text-align: center;
}

#lancamentos,
#ofertas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#ofertas img{
    width: 150px;
    height: 200px;
}

footer {
    background-color: #919090;
}

#redes img {
    width: 20px;
    margin-right: 10px;
}

#redes ul {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#redes li {
    margin: 20px;
    list-style-type: none;
    height: 32px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(255, 180, 83);
    border-radius: 8px;
    padding: 4px;
}

#redes li a {
    display: inline-block;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 180, 83);
    height: 20px;
    width: 100px;
}

#redes address {
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#produto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    color: white;
    background-color: #919090;
    padding: 20px;
    border-radius: 12px;
}

#fotos-produto img {
    height: 520px;
    width: 100%;
    border-radius: 6px;    
}

#dados-produto {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    gap: 90px;
}

#dados-produto h3 {
    font-size: 55px;
    color: rgb(255, 180, 83);
}

#dados-produto p {
    font-size: 35px;
    color: #333;
    font-weight: bold;
}

#dados-produto p span{
    color: rgb(255, 180, 83);
    font-weight: bold;
}

#botaoProduto a button{
    background-color: transparent;
    border: 2px solid rgb(255, 180, 83);
    border-radius: 6px;
    width: 40em;
    padding: 10px 0;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

#botaoProduto{
    display: flex;
    justify-content: center;
}

#botaoProduto a{
    text-decoration: none;
}

#botaoProduto a button:hover{
    background-color: white;
    color: rgb(255, 180, 83);
}


.quantidade input {
    width: 50px;
    height: 30px;
    margin-bottom: 15px;
    padding: 6px;
}

.quantidade button {
    background-color: maroon;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 15px;
    font-size: 20px;
}

.imagem-selecionada {
    border: 2px solid cornflowerblue;
    border-radius: 6px;
}

main {
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    margin: 0 20px;
    padding-bottom: 6px;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: lightgray;
}

body::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 5px;
}

#botaoCarrinho a button{
    background-color: transparent;
    border: 2px solid rgb(255, 180, 83);
    border-radius: 6px;
    width: 20em;
    padding: 10px 0;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

#botaoCarrinho{
    display: flex;
    justify-content: space-around;
}

#botaoCarrinho a{
    text-decoration: none;
}

#botaoCarrinho a button:hover{
    background-color: white;
    color: rgb(255, 180, 83);
}

.cardFinaliza{
    flex-direction: row;
    width: 60%;
    height: 50%;
}

#boxFinaliza{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#valorFinal{
    color: white;
}

#logout{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    left: 80em;
    gap: 5px;
}

#logout a{
    text-decoration: none;
    color: #333;
    font-size: medium;
    font-weight: bold;
}

#logout a:hover{
    text-decoration: underline;
}

#imgLogout{
    width: 1.5em;
}