* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: beige;
    background-image: url("../../site/img/background.jpg");
}

header {
    background-color: rgb(255, 180, 83);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#setor {
    font-size: 28px;
    color: brown;
    font-style: italic;
}

#logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    filter: drop-shadow(1px 1px 5px rgb(255, 255, 255));
}

#logoImg{
    width: 8em;
}

#slogan{
    width: 15em;
}

#banner{
    width: 800px;
}

#login {
    display: flex;
    flex-direction: row;
    align-items: center;
    filter: drop-shadow(1px 1px 5px rgb(255, 255, 255));
    text-decoration: none;
    color: #000;
}

#login:hover{
    text-decoration: underline;
}

#loginImg{
    width: 5em;
}

#loginTxt{
    font-size: 28px;
}